# sshd still runs as root for chroot functionality, but
# we listen on a non-privileged port anyway. This matches
# the recommended port we expose in the helm chart.
Port 2222

# This file is assumed to be mounted to the Docker container
HostKey /etc/jupyterhub-sftp/config/hostKey

# Only allow password auth, BECAUSE WE ARE EVIL HAHA
# But also because users log in with their jupyterhub tokens
PubkeyAuthentication no
PasswordAuthentication yes

# Passwords are jupyterhub Auth tokens, so they can't be empty
PermitEmptyPasswords no

# FIXME: I'm not sure what to do with this one
ChallengeResponseAuthentication no

# Our custom PAM module (pam_exec) calls jupyterhub-token-verify.py to
# authenticate with a JupyterHub token.
UsePAM yes

# Explicitly turn off all features of sshd we won't use
AllowAgentForwarding No
AllowTcpForwarding no
GatewayPorts no
X11Forwarding no
PermitTTY no
PrintMotd no
PrintLastLog no
PermitUserEnvironment no
PermitTunnel no

# Use heartbeat packets to terminate 'stuck' connections
# https://man.openbsd.org/sshd_config#TCPKeepAlive
TCPKeepAlive yes

# Use the built-in internal-sftp setup, rather than shelling out to sftp-server
Subsystem	sftp	internal-sftp

# Only allow sftp
ChrootDirectory /export/home/%u
ForceCommand internal-sftp -d %u
