; A flake8 linting config adjusted for black autoformatting, defined mainly
; based on the following documentation:
;
; https://black.readthedocs.io/en/stable/the_black_code_style/current_style.html#line-length
;
[flake8]
select = C,E,F,W,B,B950
extend-ignore = E203, E501

# Let's ignore the traitlets config object
builtins = c
